.firsttask {
    margin-top: 25px;
    display: flex;
}

button {
    width: 150px;
    height: 50px;
    background-color: rgba(52, 66, 199, 0.479);
    margin: 5px 15px;
}

.elem {
    width: 100px;
    height: 25px;
    background-color: rgba(199, 52, 155, 0.479);
    margin: 5px 15px;
}

.elem2 {
    width: 100px;
    height: 25px;
    background-color: rgba(199, 52, 155, 0.479);
    margin: 5px 15px;
}

.elem3 {
    width: 100px;
    height: 25px;
    background-color: rgba(199, 52, 155, 0.479);
    margin: 5px 15px;
}

.dz9 {
    margin-left: 250px;
}

.dz11 {
    margin-left: 250px;
    margin-top: 75px;
}

.dz14 {
    width: 350px;
    color: red;
}

.dz141 {
    width: 100px;
    height: 25px;
    background-color: rgba(199, 52, 155, 0.479);
    margin: 5px 15px;
}

.dz161 {
    width: 250px;
    height: 100px;
    color: blueviolet;
    border-radius: 20px;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: black;
}

.dz172 {
    display: flex;
}

.dz19 {
    width: 700px;
    display: flex;
    flex-direction: row;
}

.dz192 {
    flex: 1 0 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dz191 {
    flex: 1 0 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dz1921 {
    flex: 1 0 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dz22 {
    margin-top: 50px;
}

.dz24 {
    margin-top: 50px;
}

.calc {
    margin-top: 50px;
    width: 200px;
    height: 300px;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.math {
    width: 50px;
}

.field {
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
}

.number {
    margin-top: 25px;
}

.zero {
    width: 50px;
}